.menu__link {
    color: var(--cor-cinza);
    padding-left: 1.25rem;
    
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link.ativo {
    color: var(--cor-cinza-escuro);
    font-weight: 700;
}