.cabeçalho {
    align-items: center;
    background: var(--cor-cinza-claro);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

@media screen and (min-width: 0) {
    .cabeçalho {
        padding: 0 1rem;
    }
}