@import url("./cabecalho.css");
@import url("./menu/menu-item.css");
@import url("./menu/menu-link.css");
@import url("./menu/menu-lista.css");
@import url("./banner/banner.css");
@import url("./banner/banner__imagem.css");


:root {
    --cor-cinza-claro: #f9f9f9;
    --cor-cinza: #808080;
    --cor-cinza-escuro: #333333;
}