@import url("./cabecalho.css");

:root {
    --cor-cinza-claro: #f9f9f9;
    --cor-cinza: #808080;
    --cor-cinza-escuro: #333333;
}

.menu-lista {
    display: flex;
}

.menu-item {
    list-style: none;
}

.menu-link {
    color: var(--cor-cinza);
    padding-left: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-link.ativo {
    color: var(--cor-cinza-escuro);
    font-weight: 700;
}