
:root {
    --cor-cinza-claro: #f9f9f9;
}

.cabeçalho {
    align-items: center;
    background: var(--cor-cinza-claro);
    display: flex;
    justify-content: space-between;
}

.lista-menu {
    display: flex;
}

.