.receita__botao {
    background: var(--cor-vinho);
    border: none;
    border-radius: 5px;
    color: var(--cor-brancoCinzento);
    padding: 1rem;
    transition: all .1s ;
}

.receita__botao:hover {
    background: var(--cor-vinhoEscuro);
    cursor: pointer;
}